@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'MotserratRegular';
  color: white;
}


@font-face {
  font-family: 'MotserratBold';
  src: url('../public/fonts/MontserratBold.ttf');
}

@font-face {
  font-family: 'MotserratMedium';
  src: url('../public/fonts/MontserratMedium.ttf');
}

@font-face {
  font-family: 'MotserratRegular';
  src: url('../public/fonts/MontserratRegular.ttf');
}

@font-face {
	font-family: 'Logo';
	src: url('../public/fonts/MoiraiOne.ttf');
  }

.slick-dots li button:before{
	font-size: 15px !important;
}